@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: $color-bg;

  @include mobile {
    flex-direction: column;
  }
}
