@use 'animations';
@use './components/my-image';
@use './components/me';
@use './components/linker';

* {
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* hidden state: line is “not drawn” */

/* when wrapper gets .show, draw the path */
.line-anim.show svg .a {
  animation: draw-line 1.2s ease-out 3s forwards;
}

body {
  font-family: 'Electrolize', sans-serif;

  & .desktop-menu {
  }

  & .mobile-menu {
  }

  & .sections-container {
    background-image: url('/bg/bg-space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;

    & #home {
      background-color: rgba(0, 0, 0, 0.5);

    }
  }
}

@media (max-width: 768px) {
  body {
    & .sections-container {
      background-image: url('/bg/bg-mobile-space.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    & #home {
      background-color: rgba(0, 0, 0, 0.8) !important;
    }
  }
}
